* {
    background-color: #000;
    padding: 3px;
}
.index_container {
    height: 100%;
}
.container_top {
    display: flex;
    align-items: center;
    justify-content: end;
}
.index_sub_container {
    width: 80%;
    margin: 0 auto;
}
.VideoLogoBox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.VideoLogoBox img {
    width: 1200px;
    height: 100%;
}
.ImgLogoBox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ImgLogoBox img{
    width: 100px;
    height: 100px;
}

@media (max-width: 500px) {
    .VideoLogoBox img {
        width: 420px;
    }
    .plot_img_box iframe {
        width: 560px;
        height: 315px;
    }
}
