@font-face {
    font-family: 'PretendardLight';
    src: url('/font/Pretendard-Light.otf') format('woff');
}
@font-face {
    font-family: 'PretendardBold';
    src: url('/font/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'PretendardExtraLight';
    src: url('/font/Pretendard-ExtraLight.woff') format('woff');
}

* {
    background-color: #000;
    padding: 5px;
    font-family: 'PretendardLight' ;
}
@media (max-width: 500px) {
    * {
        padding: 2px;
    }
}
.menubar_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menubar_box h1 {
    color : #fff;
    font-family: 'PretendardBold' !important;
    cursor: default;
}

.plot_container {
    height: 100%;
}
.plot_sub_container {
    width: 80%;
    margin: 3% auto;
}
.story_box {
    color: white;
}
.plot_img_box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ImgLogoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.ImgLogoBox img{
    width: 100px;
    height: 100px;
}
.story_box b {
    padding: 0;
}
.list_sub_box img {
    width: 100px;
    height: 100px;
}
.story_box span {
    background: #fff;
    border-radius: 20px;
    font-size: 13px;
    margin-right: 10px;
    color : #000;
}
.youtubeLink {
    display: flex;
    align-items: center;
    justify-content: end;
}
.member {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'PretendardExtraLight' !important;
    justify-content: center;
    cursor: default;
}

@media (max-width: 500px) {
    .plot_img_box a img {
        width: 390px;
        height: 300px;
    }
    .plot_sub_container {
        width:100%;
        margin: 3% auto;
    }
    .story_box span {
        padding: 5px;
    }
    .member {
        display: flex;
        align-items: center;
        color: #fff;
        justify-content: center;
        font-size: 10px;
    }   
}